<div class="navbar navbar-expand-sm navbar-yidir">
  <section class="navigation-wrap">
    <%= link_to "#", class: "navbar-logo" do %>
      <%= image_tag "logo-nom.png", alt: "Yidir", width: 200 %>
    <% end %>

    <div class="nav-links-container">
      <%= link_to "Projets", "#", class: "nav-link" %>
      <%= link_to "À propos", "#", class: "nav-link" %>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Contactez-nous", "#", class: "nav-link contact-button" %>
      </li>
    </ul>
  </section>
</div>
