<div class="navbar navbar-yidir" id="navbar">
  <div class="container">
      <%= link_to "#", class: "navbar-logo" do %>
        <%= image_tag "main/logo-nom.png", alt: "Yidir"%>
      <% end %>
      <div class="nav-links-container">
        <%= link_to "Projets", "#", class: "nav-link" %>
        <%= link_to "Équipe", "#", class: "nav-link" %>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Contactez-nous", "#", class: "navbar-button" %>
        </li>
      </ul>
  </div>
</div>


<script>
  var lastScrollTop = 0;
  var scrollThreshold = 100; // Valeur seuil de défilement avant que la barre de navigation ne disparaisse

  window.addEventListener('scroll', function() {
    var currentScroll = window.pageYOffset || document.documentElement.scrollTop;
    var navbar = document.getElementById('navbar');

    if (currentScroll > lastScrollTop && currentScroll > scrollThreshold) {
      // Scrolling vers le bas et défilement suffisant vers le bas
      navbar.style.transform = 'translateY(-100%)'; // Masquer la barre de navigation
    } else {
      // Scrolling vers le haut ou pas assez de défilement vers le bas
      navbar.style.transform = 'translateY(0%)'; // Afficher la barre de navigation
    }

    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // lastScrollTop ne soit pas négatif
  });

</script>
