<div class = "container">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 mb-3">
            <h1 class="h1-header">
              <span class="yid">YIDIR</span> transforme vos
              <span class="text-span-1">idées</span> en réalités
              <span class="text-span-1">numériques</span>
            </h1>
          </div>
          <div class="col-md-12 mb-5">
            <p class="p-header">De la conception au développement d'applications web et web-mobile sur mesure</p>
          </div>
          <div class="col-md-12">
            <div class="button-container">
              <%= link_to "On discute de vos idées ?", "#", class: "header-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Nouvelle section "Les Services" -->
<div class="container container-service">
  <h2 class="section-title text-center mb-5">Les Services</h2>
  <% services = [
    { title: "Wireframe", description: "Le schéma visuel simplifié de la page web ou de l’appli montrant la disposition des différents éléments." },
    { title: "UI Design", description: "L’art d’organiser les éléments d’une interface pour rendre le site web intuitif, attractif et facile à utiliser." },
    { title: "UX Design", description: "L’optimisation de l’expérience utilisateur-ice, avec un focus sur la facilité d’utilisation et l’accessibilité." },
    { title: "Développement", description: "La création et la mise en œuvre des fonctionnalités de l’appli grâce à différents langages de programmation." }
  ] %>
  <div class="cards">
    <% services.each_with_index do |service, index| %>
      <div class="card" data-index="<%= index %>">
        <h3 class="card-title"><%= service[:title] %></h3>
        <p class="card-text"><%= service[:description] %></p>
      </div>
    <% end %>
  </div>
</div>

<!-- Nouvelle section "Les Technos" -->
<div class="container container-technos">
  <h2 class="section-title text-center mb-5">Les Technos</h2>
  <div class="tech-logos-container">
    <% tech_logos = [
      "html5",
      "css3",
      "sass",
      "js",
      "bootstrap",
      "react",
      "php",
      "github",
      "git",
      "figma",
      "wordpress",
      "trello"
    ] %>

    <% tech_logos.each do |logo| %>
      <div class="tech-logo-wrapper">
        <div class="ct-fancy-icon">
          <i class="fab fa-<%= logo %> fa-3x"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>


  <!-- Nouvelle section "Le Process" -->
<div class="container container-process">
  <h2 class="section-title text-center mb-5">Le Process</h2>
  <% services = [
    { title: "Prise de contact", description: "Le but de ce premier contact est de comprendre en détails vos besoins et vos objectifs afin de nous aligner sur votre vision." },
    { title: "Cadrage du projet", description: "Nous définirons ensemble les fonctionnalités, la structure et l’apparence de votre produit. Vous aurez un aperçu clair du plan, afin que le projet se développe selon vos attentes." },
    { title: "Conception", description: "Nous créons votre design visuel et le transformons en réalité fonctionnelle. Vous serez impliqué-e à chaque étape pour garantir une cohérence avec votre vision." },
    { title: "Livraison & Suivi", description: "Après des test rigoureux et une version 1 à laquelle vous aurez accès, nous vous remettrons votre livrable prêt à être lancé. Nous assurons un suivi pour garantir le bon fonctionnement." }
  ] %>
  <div class="cards">
    <% services.each_with_index do |service, index| %>
      <div class="card" data-index="<%= index %>">
        <h3 class="card-title"><%= service[:title] %></h3>
        <p class="card-text"><%= service[:description] %></p>
      </div>
    <% end %>
  </div>
</div>
