 <!-- Nouvelle section "Les Projets" -->
  <div class="container container-projets">
    <h1 class="section-title text-center mb-5">Découvrez nos projets</h1>
    <% projets = [
      { title: "Balle En Main", description: "Site vitrine pour une association de Basketball 3x3.", link:"https://balleenmain.com"},
      { title: "Anaïs Les Fleurs", description: "Portolio de l'artiste, cours de dessins, et e-commerce.", link:"https://anaislesfleurs.com"},
      { title: "Jérémy Attard", description: "Site pour un chercheur en philosophie des sciences et physique théorique.", link:"https://jeremyattard.fr" },
      { title: "SophieCoacingClub", description: "One page web site pour une coach sportive.", link:"https://sophiecoachingclub.fr" },
      { title: "JS Library", description: "Une série de jeux codés en javascript.", link:"https://github.com/MarielleTayri/Games" }
    ] %>
    <div class="card-product-container">
      <% projets.each_with_index do |projet, index| %>
        <div class="card-product" data-index="<%= index %>">
          <% if projet[:image].present? %>
            <%= image_tag projet[:image], alt: projet[:title], class: "card-image" %>
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= projet[:title] %></h3>
            <p class="card-text"><%= projet[:description] %></p>
            <a href="<%= projet[:link] %>" class="arrow-link">&#8594;</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
